* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Travelling {
  text-align: center;
  color: rgb(7, 7, 7);
  font-size: 18px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  .Travelling {
    font-size: 30px;
  }
}
.Travelling .Travelling-wrap .Travelling-wrap-heading-wrap h1 span {
  background-color: rgb(242, 211, 10);
  padding: 3px 6px;
}
.Travelling .Travelling-list {
  padding: 10px;
}
@media (min-width: 992px) {
  .Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item {
    display: flex;
    justify-content: space-between;
  }
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap {
  position: relative;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap {
    width: calc(33.3333333333% - 10px);
  }
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image1 {
  background-image: url("../images/image01.png");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  overflow: hidden;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712));
  z-index: 1;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image1 .text {
  position: relative;
  z-index: 2;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image1 .text .heading {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image2 {
  background-image: url("../images/image02.png");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  overflow: hidden;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712));
  z-index: 1;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image2 .text {
  position: relative;
  z-index: 2;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image2 .text .heading {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image3 {
  background-image: url("../images/image03.png");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  overflow: hidden;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712));
  z-index: 1;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image3 .text {
  position: relative;
  z-index: 2;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image3 .text .heading {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image4 {
  background-image: url("../images/image04.png");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  overflow: hidden;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712));
  z-index: 1;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image4 .text {
  position: relative;
  z-index: 2;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image4 .text .heading {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image5 {
  background-image: url("../images/image05.png");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  overflow: hidden;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image5 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712));
  z-index: 1;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image5 .text {
  position: relative;
  z-index: 2;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image5 .text .heading {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image6 {
  background-image: url("../images/image06.png");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  overflow: hidden;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image6 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.712));
  z-index: 1;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image6 .text {
  position: relative;
  z-index: 2;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .Travelling-list-item-wrap .image-wrap .image6 .text .heading {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}
.Travelling .Travelling-list .Travelling-list-wrap .Travelling-list-item .icon-wrap {
  padding: 15px;
  background-color: rgb(242, 211, 10);
  position: relative;
  z-index: 3;
}

/*# sourceMappingURL=main.css.map */
